// VARIABLES

$light-color: rgb(240, 240, 240);
$dark-color: rgb(45, 45, 45);
$blue: rgb(69, 68, 151);
$light-pink: rgb(226, 121, 121);
$dark-pink: rgb(164, 102, 102);
$text-input-color: rgb(186, 186, 186);

$font : 'Work Sans', sans-serif;
$font-logo: 'Josefin Sans', sans-serif;