@import "config.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    background-color: $light-color;
    color: $dark-color;
    font-family: $font;
    font-size: 14px;
}

body {
    width: 100dvw;
    overflow: hidden;
}

#home {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    min-width: 200px;
    height: 60%;
    min-height: 180px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
        margin-top: 5px;
        color: $blue;
        font-family: $font-logo;
        font-weight: 700;
        font-size: 2.4em;
    }
}

#form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    margin-top: 30px;

    .search-bar-label {
        font-weight: 400;
        font-size: 0.9em;
    }

    .search-bar {
        padding: 10px;
        font-family: inherit;
        background-color: $text-input-color;
        color: $dark-color;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
    }

    .submit-btn {
        width: 100px;
        background-color: $blue;
        color: $light-color;
        font-family: inherit;
        margin: 20px auto 0 auto;
        padding: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: transform ease 0.1s;

        &:hover {
            transform: scale(1.05);
            transition: transform ease 0.1s;
        }
    }
}

#search-results-section {
    position: relative;
    height: 100dvh;
    width: inherit;
}

.close-btn {
    position: absolute;
    background-color: inherit;
    width: 50px;
    height: 50px;
    font-size: 2.5em;
    font-family: inherit;
    color: $blue;
    border: none;
    cursor: pointer;
    transition: transform ease 0.1s;
    z-index: 3;

    &:hover {
        transform: scale(1.05);
        transition: transform ease 0.1s;
    }
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: 100dvh;
}

.page {
    display: flex;
    height: 100dvh;
    flex-direction: column;
    padding: 50px 50px 65px 50px;
    justify-content: space-between;
    width: inherit;
}

.card {
    padding: 10px 20px;
    background-color: $text-input-color;
    border-radius: 10px;
    height: 22%;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.1s;

    h2 {
        font-family: inherit;
        font-weight: 500;
        font-size: 1.8em;
        color: $blue;
    }

    h4 {
        font-family: inherit;
        font-weight: 400;
        font-size: 0.9em;
        color: $dark-color;
    }

    &:hover {
        box-shadow: 5px 5px 10px rgb(145, 145, 145);
        transform: scale(1.02);
        transition: all ease 0.1s
    }
}

.index-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;

    .index {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        margin: 15px;
        cursor: pointer;
    }

    .selected {
        background-color: $blue;
        color: $light-color;
        border-radius: 50%;
    }
}

#book-section {
    min-height: 100dvh;
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    height: 100dvh;
    padding: 50px 50px 65px 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.cover-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    background-color: $text-input-color;
    border-radius: 15px;
    overflow: hidden;
}

.carousel-btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 7%;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 300;
    color: $light-color;
    background-color: $blue;
    border: none;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    z-index: 2;
    cursor: pointer;

    &:hover {
        font-size: 1.7em;
        transition: all ease 0.1s;
    }

    &:active {
        background-color: $light-pink;
        transition: background-color ease 0.1s;
    }
}

.cover {
    max-height: 90%;
    border-radius: 7px;
    transition: all ease 0.1s;

    &:hover {
        transform: scale(1.01);
        box-shadow: 5px 5px 10px rgb(145, 145, 145);
        transition: all ease 0.1s;
    }
}

.hidden {
    position: absolute;
    visibility: hidden;
}

// KEYFRAMES
@keyframes slide-in {
    0% {transform: translateX(300%)};
    100% {transform: translateX(0)};
}

@keyframes slide-out {
    0% {transform: translateX(0)};
    100% {transform: translateX(-300%)};
}

.title {
    margin-top: 40px;
    text-align: center;
    color: $blue;
    font-weight: 600;
}

.description {
    margin-top: 15px;
    width: 100%;
    max-width: 800px;
    line-height: 1.6em;
}

// MOBILE LAYOUT
@media screen and (max-width: 600px) {
    .card h2 {
        font-size: 1.2em;
    }

    .card h4 {
        font-size: 0.8em;
    }

    .cover-container {
        width: 100vw;
        border-radius: 0;
    }

    .cover {
        margin-bottom: 40px;
        max-height: 70%;
    }

    .carousel-btn {
        position: absolute;
        width: 100%;
        height: 40px;
        right: auto;
        bottom: 0;
    }
}