@import "config.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    background-color: $light-color;
    color: $dark-color;
    font-family: $font;
    font-size: 14px;
}

body {
    height: 300vh;
    width: 100vw;
    overflow: hidden;
}

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    min-width: 200px;
    height: 60%;
    min-height: 180px;
    // background-color: pink;
}

.logo-container {
    // background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
        margin-top: 5px;
        color: $blue;
        font-family: $font-logo;
        font-weight: 700;
        font-size: 2.4em;
    }
}

#form {
    // background-color: lightcoral;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;

    .search-bar-label {
        font-weight: 400;
        font-size: 0.9em;
    }

    .search-bar {
        padding: 10px;
        font-family: inherit;
        background-color: $text-input-color;
        color: $dark-color;
        border: none;
        border-radius: 5px;
        margin-top: 5px;
    }

    .submit-btn {
        width: 100px;
        background-color: $blue;
        color: $light-color;
        font-family: inherit;
        margin: 20px auto 0 auto;
        padding: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: transform ease 0.1s;

        &:hover {
            transform: scale(1.05);
            transition: transform ease 0.1s;
        }
    }
}

#search-results-section {
    height: 100vh;

    button {
        position: absolute;
        top: calc(100vh + 20px);
        left: 20px;
        padding: 5px;
        font-size: 2.5em;
        font-family: inherit;
        color: $blue;
        background-color: inherit;
        border: none;
        cursor: pointer;
        transition: transform ease 0.1s;

        &:hover {
            transform: scale(1.05);
            transition: transform ease 0.1s;
        }
    }
}

#book-section {
    height: 100vh;

}